img{
    display: block;
    float: center;
    margin: auto;
    height: 100px;
}
div{
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: bisque;
    padding: 40px;
}
h1{
    text-align: center;
    color: rgb(195, 152, 8);
}
h2{
    text-align: center;
    color: rgb(98, 95, 60);
}
body{
    background-color: rgb(149, 192, 147);
    background: linear-gradient(180deg, rgba(149, 192, 147, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
h3{
    color: rgb(8, 74, 64);
    text-align: center;
}
h4{
    color: rgb(140, 72, 72);
}
hr{
    border-color: darkcyan;
}