@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap');
/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.heading1 {
    /* text-align: center;
    border: 50px solid red;
    padding-bottom: 50px;
    padding: 50px 100px; */
    width: 90%;
    max-width: 500px;
    /* width: 400px;
    height: 400px; */
    padding: 50px;
    border: 5px solid red;
    background-color: lightblue;
    margin: 100px;
    /* border-radius: 50%; */
    /* 500px + 100px + 100px + 50px + 50px = 700px */
    color:rgb(39, 118, 31);
    font-size: 40px;
    font-family: "Bitcount Grid Double Ink", system-ui;
}
.heading2{
    width: 90%;
    max-width: 500px;
    padding: 50px;
    border: 1px solid black;
    background-color: lightgreen;
    margin: 100px;
    color:rgb(39, 118, 31);
    font-size: 40px;
    font-family: "Bitcount Grid Double Ink", system-ui;
}