/* h1{
    color: blanchedalmond;
    font-size: 60px;
    text-align: center;
    background-color: cadetblue;
} */

h1{
    color: blanchedalmond;
    font-size: 60px;
    text-align: center;
    background-color: cadetblue;
    border: 5px solid black;
    border-radius: 40px;
    padding: 20px;
}

img{
    display: block;
    float: middle;
    margin: auto;
    width: 300px;
}

p{
    font-size: 20px;
    text-align: justify;
}